.logo {
    width: 105px;
    height: auto;
    margin-bottom: 28px;
}
@media screen and (min-width: 480px) {
    .logo {
        width: 142px;
        height: 33px;
        margin-bottom: 38px;
    }
 }