.header {
    margin-top: 28px;
    margin-bottom: 44px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 0 20px;
}
 @media screen and (min-width: 480px) {
    .header {
        margin-top: 45px;
        margin-bottom: 40px;
    }
 }
 @media screen and (min-width: 930px) {
    .header {
        padding: 0;
    }
 }
